<table width="545" cellpadding="0" cellspacing="25" border="0">
  <tr>
    <td align="left">
      <h3 style="margin:0"><%= report.title %></h3>
      <ul>
        <li>Total <%= report.model.to_s.pluralize %>: <%= number_with_delimiter(report.total) %></li>
        <li><%= report.model.to_s.pluralize %> created yesterday: <%= number_with_delimiter(report.yesterday) %></li>
      </ul>
    </td>
  </tr>
  <tr>
    <td align="center"><%= image_tag attachments["#{report.hash}.png"].url, border: 0, align: "center" %></td>
  </tr>
</table>
